<div class="amount-group">
  <span class="currency">$</span>
  {{input class="amount" name="amount" type="number" placeholder="Custom amount" value=amount}}
  <span class="period">per month</span>
</div>
<div class="input-group">
  {{textarea
    name="description"
    placeholder="Tell your donors what this goal will allow you to do. Be specific, but make it interesting!"
    value=description}}
</div>
<div class="input-group">
  <button class="default save" {{action 'save'}}>
    {{#if isNew}}Create Goal{{else}}Save changes{{/if}}
  </button>
  <button class="default cancel" {{action 'cancel'}}>Cancel</button>
</div>
